<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.mapper.BusanMapper">
  <select id="busanListData" resultType="com.sist.web.vo.BusanVO" parameterType="hashmap">
    SELECT no, contentid, hit, title, image1, address
    FROM busantravel
    WHERE contenttype = #{contenttype}
    ORDER BY no ASC
    OFFSET #{start} ROWS FETCH NEXT 12 ROWS ONLY 
  </select>
</mapper>